%h3 users

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th UID
      %th login
      %th Name
      %th
      
  %tbody
    - @users.each do |user|
      %tr
        %td= user.uid
        %td= link_to user.login, user_path(user.login)
        %td= user.name
        -#%td= link_to 'Show', user
        -#%td= link_to 'Edit', edit_user_path(user)
        -#%td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
