
%scipt#user-password-dialog(type="text/template" style="display: none;")
  %form.user-password-form(role="form")
    %fieldset
      .form-group
        %label(for="password")
          Password
        %input.form-control(name="password" type="password")
      .form-group
        %label(for="password")
          Confirm
        %input.form-control(name="confirm" type="password")
